{{#section 'css'}}
    <link rel="stylesheet" href="css/profile.css">
{{/section}}

{{#section 'js'}}
    <script>
    function showEditable() {
        $('input').removeAttr("readonly");
        $('select').removeAttr("disabled");
        $('input[type=password]').prop('readonly', true);
        $('input, select').css({"border": "1px solid pink", "border-radius": "10px"});
        $('#cancelbtn').show();
        
    }
    function cancel(){
        $('input').css({"border":"none"});
       
        $('select').css("background-color","#fff");
        $('input').prop('readonly', true);
        $('#cancelbtn').css("display","none");
        $('form').submit();
        $('select').prop('disabled',true);
    }
    </script>
{{/section}}

<div class="container-fluid">
    <div class="profile-pane">
            <div class="sidebar">
                <h1> My Account</h1>
                <ul>
                    <li id="viewInfoLink" style="font-weight: 700;"><a href="/profile">Thông tin tài khoản</a></li>
                    <li id="viewSettingLink" ><a href="/profile/setting" >Đổi mật khẩu</a></li>
                    <li><a href="/profile/product-watch-list">Sản phẩm</a></li>
                </ul>
            </div>
            <div class="info-pane" id="infoAccount"> 

                <h1>Hello {{user.fullName}}</h1>
                <form method="POST">
                    <div class="form-group">
                        <label for="name">Họ và Tên </label>
                        <input type="text" name="name" id="name" class="p-1 w-50"value="{{user.fullName}}" readonly/>

                    </div>
                    <div class="form-group">
                        <label for="gender">Giới tính </label>
                         <select class="form-control w-50 d-inline border-0 p-1" name="gender" id="gender" style="background-color: white;" disabled>
                            <optgroup label="Chọn giới tính">
                            <option name="{{gender.genderID}}" value="{{gender.genderName}}">{{gender.genderName}}</option>
                            {{#each this.other}}
                            <option name="{{genderID}}" value="{{genderName}}">{{genderName}}</option>
                            {{/each}}
                            </optgroup>
                         </select>
                        </div>
                    <div class="form-group">
                        <label for="birthday">Ngày sinh </label>
                        <input id="birthday" name="birthday" class="form-control w-50 d-inline border-0 p-1"  style="background-color: white;" type="date" value="{{dob}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="address">Địa chỉ </label>
                        <input type="text" name="address" id="address" class="p-1 w-50" value="{{user.address}}" readonly />
                    </div>
                    <div class="form-group">
                        <label for="email">Email </label>
                        <input type="email" name="email" id="email" class="p-1 w-50" value="{{user.email}}" readonly />
                    </div>
                    <div class="form-group">
                        <label for="pass">Mật khẩu </label>
                        <input type="password" name="pass" id="pass" class="p-1 w-50" value="**************" readonly/>
                    </div>
                </form>
                <button class="buttonEdit" id="editbtn" onclick="showEditable()" type="button">Chỉnh sửa</button>
                <button class="buttonEdit" id="cancelbtn" onclick="cancel()" type="button">Hủy</button>
            </div>
    </div>
</div>
