<div class="container-fluid">
        <div class="jumbotron jumbotron-fluid bg-light text-dark pt-0 pb-0 mb-0 mt-3">
            <div class="container-fluid h-25">
                <h4 class="display-6">Danh sách yêu thích</h4>
                <p class="lead">Đây là những sản phẩm gần đây bạn đã yêu thích</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body"> 
                <div class="row">
                    {{#each this.products}}
                        <div class="col-sm-3 mb-4">
                            <div class="card">
                                <a href="/detail">
                                <img src="images/macbook.jpeg" class="card-img-top" alt="..."></a>                    					
                                <div class="card-body">
                                    <p class="card-text" style="overflow: hidden;">
                                        <b>{{productName}}</b>
                                        <br><small>Giá mua ngay: <br><b>{{format price}}đ</b>
                                        <br>Giá hiện tại: <br><b>{{format priceCurent}}đ</b>
                                        <br>Ra giá bởi: <br><b>{{bidderID}}</b>
                                        <br>Ngày đăng: <br><b>{{formatDate timePost}}</b>
                                        <br>Thời gian còn lại: <br><b>{{formatDate timeEnd}}</b>
                                        <br>Số lượt ra giá hiện tại: <b>10</b></small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>