<!DOCTYPE html>
<html>
    <head>
        <title>Auction Website</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/mainStyle.css">
        <link rel="stylesheet" href="https://kybarg.github.io/bootstrap-dropdown-hover/assets/bootstrap-dropdownhover/css/animate.min.css">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://kybarg.github.io/bootstrap-dropdown-hover/assets/bootstrap-dropdownhover/css/bootstrap-dropdownhover.min.css">
        <link rel="stylesheet" href="https://kybarg.github.io/bootstrap-dropdown-hover/assets/bootstrap-dropdownhover/css/bootstrap-dropdownhover.min.css">
        {{{_sections.css}}}
    </head>

    <body>
        <div class="headerBarContainer fixed-top">
            <nav>
                <div id="headerBar">
                    <div class="dropdown btnHoverContainer pull-left">
                        <button class="btn btn-default dropdown-toggle btnHover" 
                        aria-expanded="false" data-toggle="dropdown" data-hover="dropdown" type="button">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdownhover-bottom" id="sp"  aria-labelledby="dropdownMenu1"> 
                            <li class="dropdownsp">
                                <a class"spbtn" href="#">Sản phẩm<span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu2 dropdownhover-right">
                                    {{#each lcCategories}}
                                        <li><a href="/byCat?id={{CatID}}&sort=ASC">{{CatName}}</a></li>
                                    {{/each}}
                                </ul>
                            </li>
                            <li><a href="/about">Thông tin web</a></li>
                        </ul>
                    </div>
                    {{!-- <div class="btnHoverContainer">
                        <button class="btn btn-default dropdown-toggle btnHover" type="button">
                        </button>
                        <div class="dropdown-content">
                            <div class="menuDropdon">
                                <div class="btnsp">
                                    <a>
                                        Các danh mục
                                        <span class="caret"></span>
                                    </a>
                                    <div class="dropdown-sp">
                                        
                                    </div>
                                </div>
                                <a class="about"href="/about">About</a>
                            </div>
                        </div>
                    </div> --}}
                    <div class="centerContainer">
                        <div id="logoContainer">
                            <a class="navbar-brand" href="/">
                                <img id="logo" src="images/logo.png">
                                <span id="line"></span>
                                <span id="phasamique">Phasamique</span>
                            </a>
                        </div>
                        <div id="searchContainer">
                            <form action="/" method="POST">
                                <input type="text" placeholder="Tìm kiếm" name="search">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <div id="rightContainer" class="navbar-nav" >
                            {{#if lcIsAuthenticated}}
                            <form id="frmLogout" action="/account/logout" method="POST">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                    <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        {{!-- Welcome, {{lcAuthUser.fullName}} --}}
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href='/profile?user={{lcAuthUser.fullName}}'>
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            Tài khoản
                                        </a>
                                        {{#if this.isSeller}}
                                        <a class="dropdown-item" href='/product/sell'>
                                            <i class="fa fa-trademark" aria-hidden="true"></i>
                                            Các sản phẩm đang bán
                                        </a>
                                        {{/if}}
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript: $('#frmLogout').submit()">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                                        Thoát
                                        </a>
                                    </div>
                                    </li>
                                </ul>
                            </form>
                            {{else}}
                            <a id="signIn" href="/account/login">
                                <button class="btn btn-dark">
                                    Đăng nhập
                                </button>
                            </a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="bodyContainer">
            {{{body}}}
        </div>
        <div class="footerContainer">
            <footer class="justify-content-center">
                <div class="footer-copyright text-center footer">
                    <div class="introduction" >
                        <div>
                            <span id="phasamique"><b>Phasamique</b></span> là một trang web đấu giá được thực hiện bởi nhóm 1.
                        </div>
                        <div>
                            Đây là đồ án cuối kỳ của môn học nhập môn lập trình web của trường đại học<br>
                            Khoa Học Tự Nhiên Thành phố Hồ Chí Minh.
                        </div>
                    </div>
                    <div class="co2">
                        <div><b>Nhóm phát triển:</b></div>
                        <div class="c2r2">
                            <div class="row1">
                                <a href="https://www.facebook.com/tdwctu">Ngô Văn Phát</a>
                                <a href="https://www.facebook.com/sangphung30599">Phùng Thanh Sang</a>
                            </div>
                            <div class="row2">
                                <a href="https://www.facebook.com/profile.php?id=100009972948255">Trương Nhật Minh</a>
                                <a href="https://www.facebook.com/minh.wan.188">Lê Minh Quân</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid copyright">
                    &copy; 2019 Copyright: <a href="#"> WebTeam </a>
                </div>
            </footer>
        </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://kybarg.github.io/bootstrap-dropdown-hover/assets/bootstrap-dropdownhover/js/bootstrap-dropdownhover.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {{{_sections.js}}}
    </body>
</html>
