    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3  ml-2">
               <div class="card">
                    <div class="card-header">
                        <h4>Các Danh Mục</h4>
                     </div>
                    <div class="list-group list-group-flush">
                      {{#each lcCategories}}
                         <a href="/byCat?id={{CatID}}&sort=ASC" class="list-group-item list-group-item-action {{#if isActive}}active{{/if}}">
                            {{CatName}}    
                            {{#if num_of_products}}
                                <span class="badge badge-danger float-right">{{num_of_products}}</span>
                            {{/if}}
                         </a>
                        {{/each}}
                    </div>
                </div>
            </div>
             {{#if this.empty}}
                <div class="card-body">
                     <h1 class="card-text">Không có dữ liệu</h1>
                </div>
             {{else}}
            <div class="col">
                <nav>
                    <div class="jumbotron jumbotron-fluid p-1 m-1" style="background-color: white;">
                        <div class="container">
                            {{#each lcCategories}}
                                {{#if isActive}}
                                    <h2 class="display-6">{{CatName}}<h5 class="text-secondary">{{num_of_products}} sản phẩm</h5></h2>
                                {{/if}}
                            {{/each}}
                        </div>
                        <div class="container">
                            
                            <div class="dropdown">
                                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sắp xếp
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item {{#if sortASC}}active{{/if}}" href="/byCat?id={{id}}&sort=ASC">Giá tăng dần</a>
                                    <a class="dropdown-item {{#if sortDESC}}active{{/if}}" href="/byCat?id={{id}}&sort=DESC">Giá giảm dần</a>
                                    <a class="dropdown-item {{#if sortTASC}}active{{/if}}" href="/byCat?id={{id}}&sort=TASC">Thời gian kết thúc tăng dần</a>
                                    <a class="dropdown-item {{#if sortTDESC}}active{{/if}}" href="/byCat?id={{id}}&sort=TDESC">Thời gian kết thúc giảm dần</a>
                                </div>
                            </div>
                            
                        </div>
                        <div class="container-fluid" style="margin-top: 10px;">
                            <div class="row">
                                {{#each this.products}}
                               <div class="col-sm-4 mb-3">
                                       <div class="card" style="height: 35rem;">
                                        <a href="/product/detail?id={{productID}}">
                                        <img style="height: 15rem;" src="{{imageLink}}" class="card-img-top" alt="..."></a>                    					
                                        <div class="card-body">
                                            <p class="card-text" style="overflow: hidden;">
                                                <b>{{productName}}</b>
                                                <br><small>Giá mua ngay: <br><b>{{format price}}đ</b>
                                                <br>Giá hiện tại: <br><b>{{format priceCurent}}đ</b>
                                                <br>Ra giá bởi: <br><b>{{bidder}}</b>
                                                <br>Thời gian còn lại: <br><b>{{formatTime timeEnd}}</b>
                                                <br>Số lượt ra giá hiện tại: <b>10</b></small>
                                            </p>
                                        </div>
                                    </div>
                                  </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
         <div class="row d-flex justify-content-end mr-3">
             <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item  {{#unless can_go_prev}}disabled{{/unless}}">
                        <a href="?id={{id}}&sort={{sort}}&page={{prev_value}}" class="page-link" tabindex="-1">
                            <i class="fa fa-backward" aria-hidden="true"></i>
                        </a>
                    </li>
                    {{#each this.page_items}}
                            {{#if this.isActive}}
                            <li class="page-item active">
                            <a href="javascript:;" class="page-link">{{value}}</a>
                            </li>
                            {{else}}
                            <li class="page-item">
                            <a href="?id={{id}}&sort={{sort}}&page={{value}}" class="page-link">{{value}}</a>
                            </li>
                            {{/if}}
                    {{/each}}
                    <li class="page-item {{#unless can_go_next}}disabled{{/unless}}">
                        <a href="?id={{id}}&sort={{sort}}&page={{next_value}}" class="page-link">
                            <i class="fa fa-forward" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
             </nav>
         </div>
            {{/if}}
    </div>
</div>
  