<div class="card">
    <div class="card-header d-flex">
        <div class="w-50">
        <h4>Quản lý người dùng</h4>
    </div>
    </div>
    {{#if this.empty}}
    <div class="card-body">
            <p class="card-text">Không có dữ liệu</p>
    </div>
    {{else}}
   <table class="table table-hover">
       <thead>
           <tr>
               <th scope="col">Tên người dùng</th>
               <th scope="col">Email</th>
               <th scope="col">Địa chỉ</th>
               <th scope="col">&nbsp;</th>
            </tr>
       </thead>
       <tbody>
           {{#each this.users}}
           <tr>
               <td scope="row">{{fullName}}</td>
               <td scope="row">{{email}}</td>
                <td scope="row">{{address}}</td>
               <td class="text-right">
                   <a class="btn btn-sm  btn-primary" href="/admin/users/edit/{{userID}}" role="button">
                       <i class="fa fa-pencil" aria-hidden="true"></i>
                   </a>
               </td>
           </tr>
           {{/each}}
       </tbody>
   </table>
   {{/if}}
</div>